<h1 style="text-align:center;color:#131313"> Individual Assignment</h1>
<h2>Description</h2>
<p>here I</p>
<author>Mohammad Hadi adlipour Motlagh</author>

<h2>Data Exploration</h2>

### 1. Import all required libraries and datasets

In [ ]:
# Set environment params
Sys.setenv(LANG='en')  # English

# Import libraries
# Data Manipulation
library(data.table)    # Data manipulate
library(dummies)       # Data processing
linbrary (tidyverse)   # Data Manipulation
library(dplyr)         # Data Manipulation

# Visualizatin
library(ggplot2)       # Visualization
library(gridExtra)     # Visualization
library(plotrix)       # Draw circle

# Machin Learnin Models
library(mlr)           # ML toolkit
library(caret)         # ML toolkit
library(rgl)           # 3D plots
library(e1071)         # Evaluation
library(kknn)          # kNN model
library(nnet)          # One-vs-All Logistic Regression
library(tree)          # CART model
library(randomForest)  # Bagging and RF
library(gbm)           # Boosting tree

# Evaluation
library(pROC)          # AUC, ROC

# Resize plot
library(repr)  # String and binary representations
# options(repr.plot.width=4, repr.plot.height=4)

R.version.string

### 2. Loading The Data

In [1]:
# Input data
# cust_id                          : Custometr ID
# LIMIT_BAL                        : Limit of the Balance (float)
# SEX                              : Gender (binary)
# EDUCATION                        : Education level (Categorical)
# MARRIAGE                         : Status (binary)
# AGE                              : Age (integer)
# PAY_0                            : Payment of month 0 (integer)
# PAY_2                            : Payment of month 2 (integer)
# PAY_3                            : Payment of month 3 (integer)
# PAY_4                            : Payment of month 4 (integer)
# PAY_5                            : Payment of month 5 (integer)
# PAY_6                            : Payment of month 6 (integer)
# BILL_AMT1                        : Bill Amount of month 1 (integer)
# BILL_AMT2                        : Bill Amount of month 2 (integer)
# BILL_AMT3                        : Bill Amount of month 3 (integer)
# BILL_AMT4                        : Bill Amount of month 4 (integer)
# BILL_AMT5                        : Bill Amount of month 5 (integer)
# BILL_AMT6                        : Bill Amount of month 6 (integer)
# PAY_AMT1                         : ATM withdrawal Month 1 (integer)
# PAY_AMT2                         : ATM withdrawal Month 2 (integer)
# PAY_AMT3                         : ATM withdrawal Month 3 (integer)
# PAY_AMT4                         : ATM withdrawal Month 4 (integer)
# PAY_AMT5                         : ATM withdrawal Month 5 (integer)
# PAY_AMT6                         : ATM withdrawal Month 6 (integer)
# default.payment.next.month       : if the payment is default or no for next month (binary)

credit <- read.csv('./Data/credit_default_train.csv', row.names=1)
str(credit)

'data.frame':	20000 obs. of  24 variables:
 $ LIMIT_BAL                 : int  70000 390000 60000 140000 50000 20000 50000 250000 320000 300000 ...
 $ SEX                       : int  1 2 1 2 1 1 1 1 2 1 ...
 $ EDUCATION                 : int  3 2 1 2 1 2 3 2 2 1 ...
 $ MARRIAGE                  : int  2 2 2 1 2 2 2 2 2 1 ...
 $ AGE                       : int  34 26 27 55 29 37 44 30 36 35 ...
 $ PAY_0                     : int  0 2 0 0 2 0 0 0 -2 0 ...
 $ PAY_2                     : int  0 2 0 0 2 0 0 0 -2 0 ...
 $ PAY_3                     : int  0 2 0 0 2 0 0 0 -2 0 ...
 $ PAY_4                     : int  0 0 0 0 0 0 2 -1 -2 0 ...
 $ PAY_5                     : int  0 0 0 0 0 0 0 2 -2 0 ...
 $ PAY_6                     : int  0 0 2 0 -2 0 0 -1 -2 0 ...
 $ BILL_AMT1                 : int  53972 185111 21387 108038 7881 20009 NA 5724 29862 91282 ...
 $ BILL_AMT2                 : int  23149 172865 22416 110216 10415 20602 50525 6729 33785 45885 ...
 $ BILL_AMT3                 : int  23968 153795 23444 84516 3997 21255 51463 4973 4900 35329 ...
 $ BILL_AMT4                 : int  25559 140387 26038 72391 1047 19105 49952 9693 15813 29368 ...
 $ BILL_AMT5                 : int  26134 128112 28607 61298 0 19609 19584 799 0 18833 ...
 $ BILL_AMT6                 : int  26715 115514 27997 62193 0 19283 19080 4295 0 93329 ...
 $ PAY_AMT1                  : int  1700 5000 1378 4200 3000 1700 1762 2000 5000 3260 ...
 $ PAY_AMT2                  : int  1500 3000 1406 2822 0 1600 4800 2305 4905 2240 ...
 $ PAY_AMT3                  : int  2000 5000 3000 2336 1000 1200 0 4720 15873 1505 ...
 $ PAY_AMT4                  : int  1000 4548 3000 2588 0 1000 837 0 0 1250 ...
 $ PAY_AMT5                  : int  1000 4100 0 2250 0 900 700 4305 0 80934 ...
 $ PAY_AMT6                  : int  2000 3300 923 2491 0 1000 1000 0 21657 2700 ...
 $ default.payment.next.month: int  0 0 1 0 1 0 0 0 1 0 ...